body {
    font-family: Arial, Helvetica, sans-serif;
    color: #707070;
    font-size: small;
}
#logo--index {
    padding-bottom: 15px;
    margin-top: 10px;
    animation-name: logoindex;
    animation-duration: 2s;
}
@keyframes logoindex{
    0% {opacity: 0%; animation-fill-mode: forwards;}
    100% {opacity: 100%;}
    }
a {
    padding: 20px;
    font-weight: lighter;
    color: #a9a9a9;
    font-size: small;
    text-decoration: underline;
    text-decoration-color: white;
    
}
nav a:hover {
    font-weight: bold;
    color: darkgray;
}
nav a {
    text-align: center;
}
@media (max-width: 576px) {
    nav a {
        font-size: x-small;
    }
}

#portada--index {
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.portada--index__img {
    width: 90%;
}

.p--index { 
    display: block;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.img-fila-index {
    padding: 5px;
}
/* #columna1 { 
    float: left;
    margin: 5px;
}

#columna2 {
    float: none;
    margin: 5px;
}

#columna3 {
    float: none;
    margin: 5px;
}*/

footer div {
    padding: 10px;
    margin-top: 30px;
    background-color: #FFFFE8;
}

.logo--footer {
    width: 20%;
    margin-left: 10%;
}
@media (max-width: 576px) {
    .logo--footer {
        width: 150px;
    }
}
footer p {
    margin-left: 10%;
}

footer h2 {
    font-size: large;
    font-style: italic;
    margin-left: 10%;
}
footer h3 {
    margin-left: 10%;
}

/* Comienzo contenido Quienes Somos */
.fila-quienessomos {
    display: flex;
    width: 80%;
    margin-left: 10%;
}
.columna1-quienessomos {
    flex-basis: 30%;
    padding: 30px;
}
.columna1-quienessomos img {
    max-width: 100%;
    height: auto;
}
.columna2-quienessomos {
    flex-basis: 50%;
    padding: 30px;
    text-align: center;
}
.columna2-quienessomos img {
    max-width: 100%;
    height: auto;
}
.imagen1 {
    padding-bottom: 15px;
}
/* Contenido Servicios */
.contenido--servicios {
    text-align: center;
}

.contenido--servicios img {
    border-radius: 8px;
    width: 80%;
    height: auto;
}

/* Contenido Portafolio */
.img-block {
    margin: 15px;
    margin-left: auto 30px;
    margin-right: auto 30px;
}
@media (max-width: 576px) {
.img-hidden {
    visibility: hidden;
    display: none;
}
}
.img-portfolio {
    padding-bottom: 30px;
}
/* .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container img {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 10px;
} */

/* Contenido Contacto */

.container  {
    width: 80%;
    margin: 50px auto;
    
}
.caja-contacto {
    display: flex;
    margin-top: 30px;
}
.caja-contacto h1 {
    color: #2699FB;
    text-align: center;
}
.contacto-izquierdo {
    flex-basis: 30%;
    padding: 20px;
    margin-left: 10%;
    border-style: solid;
    border-width: 3px;
    border-color: #2699FB;
}
.contacto-derecho {
    flex-basis: 40%;
    padding: 20px;
}
.input-group input {
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    border-style: hidden;
    font-size: larger;
    color: #2699FB;
}
button {
    width: 100%;
    background: #2699FB;
    border: none;
    outline: none;
    height: 60px;
    font-size: larger;
    color: #FFFFE8;
    text-align: center;
}
